 .cursorrules
 index-example.html
 index-example-photography.html
 index-example-projects.html
 node_modules
 .env
 .env.local
 .env.development.local
 .env.test.local
 .env.production.local
 .env.development
 .env.test
 .env.production
 .env.local
 .env.development.local
 .env.test.local
 .env.production.local