.cursorrules
index-example.html
photography/index-example-photography
projects/index-example-projects.html
assets/images/unprocessed
 node_modules
 .env
 .env.local
 .env.development.local
 .env.test.local
 .env.production.local
 .env.development
 .env.test
 .env.production
 .env.local
 .env.development.local
 .env.test.local
 .env.production.local 